@import "../../App.scss";

.task-item {
  .task-desc {
    max-width: 12.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      max-width: 7.5rem;
    }
  }

  .task-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include tablet {
      gap: 1px;
    }

    .edit-icons {
      font-size: 1.2rem;
      color: black;

      @include tablet {
        font-size: 0.9rem;
      }
    }

    .icons {
      font-size: 1.2rem;
      cursor: pointer;

      @include tablet {
        font-size: 0.9rem;
      }
    }
  }
}
