@import "../../App.scss";

.signIn {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    min-width: 60vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9rem auto 3.1rem;
    background-color: var(--primary-bg-color);
    border-radius: 0.8rem;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5);

    @include mobile {
      margin: 7.5rem 3.1rem;
    }

    .form-container {
      margin: 0 2.5rem;

      .signin-header {
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        input {
          width: 20rem;
          height: 3.1rem;
          background-color: #908d8d;
          color: black;
          outline: none;
          border: none;
          border-radius: 0.25rem;
          padding: 0.7rem;
          text-indent: 0.7rem;

          @include tablet {
            width: 12.5rem;
          }

          &::placeholder {
            color: var(--primary-txt-color);
          }

          &.input-error {
            border: 0.1rem solid red;
          }
        }

        .errors {
          .error {
            padding-left: 10px;
            color: red;
            font-size: 0.8rem;
            margin-top: -0.9rem;
          }
        }

        .btn {
          button {
            width: 20rem;
            height: 3.1rem;
            outline: none;
            border: none;
            border-radius: 0.25rem;
            padding: 0.6rem;
            background-color: var(--btn-primary-color);
            color: var(--nav-txt-color);
            font-size: 1rem;
            cursor: pointer;

            @include tablet {
              width: 12.5rem;
            }

            &:disabled {
              filter: contrast(0.8);
            }

            &:hover {
              filter: brightness(75%);
            }
          }
        }
      }
    }
  }
  .footer {
    overflow-x: hidden;
  }
}
