@import "../../App.scss";

.noMatch {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9rem;

    h1 {
      font-size: 4rem;
      color: black;
      text-align: center;
      margin-bottom: 1.9rem;

      @include tablet {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.8rem;
      color: black;
      text-align: center;
      margin-bottom: 1.2rem;
      padding: 0.7rem;

      @include tablet {
        font-size: 1.3rem;
      }
    }

    .btn {
      width: 11rem;
      height: 3.1rem;
      padding: 0.6rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      font-weight: bold;
      font-size: 1.2rem;
      color: white;
      text-align: center;
      cursor: pointer;
      background-color: var(--btn-primary-color);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
