@import "../../../App.scss";

.footer {
  min-height: 4rem;
  width: 100vw;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);

  @include tablet {
    flex-direction: column-reverse;
  }

  .copyrights {
    p {
      font-size: 1rem;
      margin-left: 3.8rem;
      color: var(--nav-txt-color);

      @include tablet {
        margin: 0.7rem 0;
        font-size: 0.8rem;
      }
    }
  }

  .socials {
    margin-right: 1.9rem;

    @include tablet {
      margin: 0.7rem 0 0 0;
    }

    span {
      margin-right: 1.5rem;

      .fa-brands {
        font-size: 1.5rem;
        color: rgb(106, 103, 103);
        cursor: pointer;

        &:hover {
          color: var(--hover-secondary-color);
        }
      }
    }
  }
}
