@import "../../App.scss";

.taskEditModal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .modal-conatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .edit-container {
    width: 65vw;
    height: auto;
    border-radius: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

    @include tablet {
      width: 80vw;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .form-input {
        width: 80%;
        height: 3rem;
        outline: none;
        border: none;
        border-radius: 0.3rem;
        padding: 0.3rem;
        text-indent: 0.7rem;
        margin-bottom: 0.2rem;
      }

      .close-icon {
        position: absolute;
        right: 1rem;
        top: 0.7rem;
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--btn-txt-color);
        border-radius: 0.3rem;
        cursor: pointer;

        &:hover {
          filter: contrast(75%);
        }
      }

      .select-wrapper {
        display: flex;
        align-items: center;
        margin: 0.2rem 0.8rem;

        label {
          font-size: 0.8rem;
          font-weight: 600;
        }

        select {
          width: 6rem;
          outline: none;
          border: none;
          margin: 0.2rem;
          cursor: pointer;
        }
      }

      .date-wrapper {
        display: flex;
        align-items: center;
        margin: 0.2rem 0.8rem;

        label {
          font-size: 0.8rem;
          font-weight: 600;
        }

        .date-input {
          width: 6.5rem;
          outline: none;
          border: none;
          margin: 0.2rem 0.45rem;
          cursor: pointer;
        }
      }

      button {
        width: 9rem;
        height: 2.8rem;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        background-color: var(--btn-primary-color);
        color: var(--btn-txt-color);
        margin: 0.7rem 0.8rem;

        @include tablet {
          width: 6rem;
          height: 2rem;
        }

        &:hover {
          opacity: 0.9;
        }
      }

      .send-icon {
        color: var(--btn-txt-color);
      }
    }
  }
}
